<ion-tabs class="tabs-color-royal tabs-icon-top">
  <ion-tab title="Ofertas" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/offer">
    <ion-nav-view name="tab-offer"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Incluir Oferta" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/include">
    <ion-nav-view name="tab-include"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Places" icon-off="ion-ios-location" icon-on="ion-ios-location" href="#/tab/places">
    <ion-nav-view name="tab-places"></ion-nav-view>
  </ion-tab>
</ion-tabs>
