<ion-view title="Cadastrar Produto" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cadastrarProduto-form1" class="list ">
            <p id="cadastrarProduto-markdown3" style="color:#000000;" class=" ">Diga qual a promoção que você viu e publique para pessoas sua comunidade</p>
            <label class="item item-input " id="cadastrarProduto-input1">
                <span class="input-label">Nome do Produto</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="cadastrarProduto-input2">
                <span class="input-label">Preço</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="cadastrarProduto-button1" class=" button button-positive  button-block ">Tirar Foto</button>
    </ion-content>
</ion-view>