<ion-view title="Promoções" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="promoEs-card21">
            <ion-item class="item-avatar  " id="promoEs-list-item6">
                <h2>Coca-Cola 600ml</h2>
                <p>Extra Hipermercado</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container1">
                <p id="promoEs-markdown4" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>R$ 3,99</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card28">
            <ion-item class="item-avatar  " id="promoEs-list-item14">
                <h2>Coca-Cola 600ml</h2>
                <p>Extra Hipermercado</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container9">
                <p id="promoEs-markdown15" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>R$ 3,99</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card29">
            <ion-item class="item-avatar  " id="promoEs-list-item15">
                <h2>Coca-Cola 600ml</h2>
                <p>Extra Hipermercado</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container10">
                <p id="promoEs-markdown16" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>R$ 3,99</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card210">
            <ion-item class="item-avatar  " id="promoEs-list-item16">
                <h2>Coca-Cola 600ml</h2>
                <p>Extra Hipermercado</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container11">
                <p id="promoEs-markdown17" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>R$ 3,99</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card211">
            <ion-item class="item-avatar  " id="promoEs-list-item17">
                <h2>Coca-Cola 600ml</h2>
                <p>Extra Hipermercado</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container12">
                <p id="promoEs-markdown18" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>R$ 3,99</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card212">
            <ion-item class="item-avatar  " id="promoEs-list-item18">
                <h2>Coca-Cola 600ml</h2>
                <p>Extra Hipermercado</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container13">
                <p id="promoEs-markdown19" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>R$ 3,99</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card213">
            <ion-item class="item-avatar  " id="promoEs-list-item19">
                <h2>Coca-Cola 600ml</h2>
                <p>Extra Hipermercado</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container14">
                <p id="promoEs-markdown20" style="margin-top:0px;color:#000000;" class=" ">
                    <strong>R$ 3,99</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>