/* Empty. Add your own CSS if you like */
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.center {
    margin: auto;
    width: 50%;
}

.platform-android .bar-subheader.has-tabs-top{
  top:93px !important;
}

.platform-android .has-subheader.has-tabs-top{
  top:137px;
}

.optionList{
    position:absolute;
    width:100%;
    z-index:100;
}